
div {background-color:white;
margin:2vh;
min-height: 20vh;
color:black;}

.editable{
  color:black;
  background-color:#ffffbf;
  min-width: 20px;}

.note{}

.reminder{color:red;}

body{background-color:431c53;
color:white;}


textarea {
  display:block;
}
