
div {background-color:white;
margin:2vh;
min-height: 20vh;
color:black;}

#user_controls{
  position:fixed;
  top:1em;
  left:1em;
  min-width: 100vw;
  min-height:10vh;
}
.editable{
  color:black;
  background-color:#ffffbf;
  min-width: 20px;}

.note{}

.reminder{color:red;}

body{background-color:431c53;
color:white;}


textarea {
  display:block;
}
