
#buffer {
  height:11vh;
}

#user_controls{
  position:fixed;
  top:5vh;
  left:0;
  min-width: 100vw;
  min-height:8vh;
  background-color:#fe7b66;
}

#user_controls button{
  background-color:#4d61f4;
  color:white;
  min-width: 46vw;
  font-size: 3vmin;
  margin:1vmin 1vmin 1vmin 1vmin;
  height: 6vh;
}

.notes{

background-color:white;
margin:2vh;
min-height: 20vh;
color:black;
}

.editable{
 
  color:black;
  background-color:#ffffbf;
  min-width:90vw;
  margin: 1vh;
  display:inline-block;
}


.reminder{
  color:red;
}

body{
background-color:#242456;
color:white;
}
