
#buffer {
  height:11vh;
}

#user_controls{
  position:fixed;
  top:5vh;
  left:0;
  min-width: 100vw;
  min-height:8vh;
  background-color:#CBC3E3;
}

#user_controls button{
  background-color:#431c53;
  color:white;
  min-width: 45vw;
  margin:1vmin 1vmin 1vmin 1vmin;
  height: 6vh;
}

.notes{
background-color:white;
margin:2vh;
min-height: 20vh;
color:black;
}

.editable{
  color:black;
  background-color:#ffffbf;
  min-width:100%;
  margin: 2%;
  display:inline-block;
}


.reminder{
  color:red;
}

body{
background-color:#431c53;
color:white;
}
